/* starting of form style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root{
  --primary: #7f6cd3;
  --secondary: #59409c; ;
  --darkgray:#291d1d;
  --lightgray:#d3d3d3;
  --grey:#808080;
  --white: #ffffff;
  --lightblue:#5a78d8;
}
.logo{
  color: var(--white);
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: var(--white);
}
body{
  font-family: 'Poppins', sans-serif;
  margin: auto;
  line-height: 1.5;
}
.primary-color{
  color: var(--primary);
}

